<h2 class="text-white text-2xl">Hey <%= current_user.nickname %> 👋</h2>
<span class="text-xs text-slate-500 mb-4">this is your profile, you can update whatever you want here, don't forget to confirm your changes by typing you password at the bottom of this form.</span>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

    <span class="text-base text-slate-500">Avatar</span>
    <div class="flex w-full items-center mb-2">
      <% if resource.avatar.attached? %>
        <div class="flex flex-col min-w-fit">
          <%= cl_image_tag resource.avatar.key, width: 120, height: 120, crop: :fit, class: 'rounded-full w-16 h-16 object-cover' %>
        </div>
      <% else %>
        <span class="text-xs text-slate-500">upload an avatar ?</span>
      <% end %>
      <div class="flex my-2 items-center relative w-full">
        <%= f.input :avatar, as: :file, label: false, input_html: { class: 'block w-full text-sm text-slate-500
            file:ml-2 file:md:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm file:font-semibold
            file:bg-violet-50 file:text-violet-700
            hover:file:bg-violet-100 border-none' } %>
      </div>
    </div>

  <div class="form-inputs">
    <span class="text-xs text-slate-500">here is your email address</span>
    <%= f.input :email,
                input_html: { class: 'mb-2'},
                label: false,
                required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <span class="text-xs text-slate-500">want to change your password ?</span>
    <%= f.input :password,
                placeholder: "new password",
                label: false,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password", class: 'mb-0' } %>
    <%= f.input :password_confirmation,
                placeholder: "new password again",
                label: false,
                required: false,
                input_html: { autocomplete: "new-password", class: 'mb-2' } %>
    <span class="text-xs text-slate-500">you need to confirm your password anytime you change anything here 😉</span>
    <%= f.input :current_password,
                placeholder: "current password",
                label: false,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password", class: 'mb-2' } %>
  </div>

  <div class="form-actions flex items-center mb-8">
    <%= f.button :submit, "Save changes", class: "text-blue-100 bg-blue-500 p-2 hover:text-blue-500 hover:bg-blue-100 rounded transition-all mr-2 leading-6" %>
    <%= link_to "Back", :back, class:"text-red-500 bg-red-100 p-2 rounded my-2" %>
  </div>
<% end %>

<div class="text-slate-100 text-xs flex items-center">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "ml-2 text-red-100 bg-red-500 hover:text-red-500 hover:bg-red-100 p-1 rounded transition-all", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>


