<div class="bg-white text-emerald-950 my-2 p-4 rounded">
  <div class="flex justify-between items-center w-full">
    <h2 class="text-lg md:text-xl"><%= flat.name %></h2>
    <p class="text-xs">created by <%= flat.user.nickname %></p>
  </div>
  <p class="mb-2 text-sm">
    <%= flat.address %>
  </p>
  <%= turbo_frame_tag "invitation-#{flat.id}" do %>
    <%= render 'flats/invitation_flat', flat: flat %>
  <% end %>
</div>
