<%= simple_form_for flat, html: { class:'flex items-center justify-between border-solid bg-blue-100 rounded p-4' } do |f| %>
  <% if flat.errors.any? %>
    <div class="error-message">
      <%= flat.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <%= f.input :name, label: false, placeholder: "name this flat" %>
  <%= f.input :address, label: false, placeholder: "12 rue de Strasbourg, Paris 10" %>
  <div class="flex">
    <%= f.submit 'save', class: 'text-white bg-emerald-600 py-1 px-4 rounded' %>
    <%= link_to "cancel", dashboard_path, class: "text-white bg-red-800 py-1 px-4 rounded ml-2" %>
  </div>
<% end %>
