<%= link_to dashboard_path, class:'text-xs underline text-white mb-2' do %>
  <i class="fa-solid fa-arrow-left"></i>
  back to your dashboard
<% end %>

<div class="my-2">
  <h2 class="text-2xl text-white"><%= @flat.name %></h2>
  <p class="text-white"><%= @flat.address %></p>
</div>

<div class="bg-white text-emerald-950 my-2 p-4 rounded">
  <div class="flex justify-between items-center mb-2">
    <h3 class="text-lg">Invited users</h3>

    <% if policy(@flat.invitations.new).new? %>
      <%= link_to new_flat_invitation_path(@flat), class:'text-xs px-2 py-1 rounded text-emerald-100 bg-emerald-500', data: { turbo_frame: dom_id(@invitation) } do %>
        <i class="fa-solid fa-user-plus mr-1"></i>
        invite
      <% end %>
    <% end %>

  </div>

  <%= turbo_frame_tag @invitation %>

  <%= turbo_frame_tag "invitations" do %>
    <div class="flex flex-wrap">
      <%= render @invitations %>
    </div>
  <% end %>
</div>


<% if (@current_user_invitation && @current_user_invitation&.accepted?) || @flat.user == current_user %>
  <div class="bg-white text-emerald-950 my-2 p-4 rounded">
    <div class="flex justify-between items-center mb-2">
      <h2 class="text-lg">List of items</h2>
      <%= link_to new_flat_item_path(@flat),
                  class: "bg-blue-500 hover:bg-blue-700 text-blue-100 px-2 py-1 rounded text-xs",
                  data: { turbo_frame: dom_id(@item) } do %>
        <i class="fa-solid fa-plus mr-1"></i>
        add item
      <% end %>
    </div>

    <div class="flex flex-col">
      <%= turbo_frame_tag @item %>

      <%= turbo_frame_tag "items" do %>
        <%= render @items %>
      <% end %>
    </div>
  </div>
<% end %>

