<%= link_to dashboard_path, class:'text-xs underline text-white mb-2' do %>
  <i class="fa-solid fa-arrow-left"></i>
  back to your dashboard
<% end %>

<div class="my-2">
</div>

<div class="bg-gray-50 text-emerald-950 my-2 p-4 rounded">
  <div class="flex justify-between items-center mb-2">
    <div>
      <h2 class="text-2xl"><%= @flat.name %></h2>
      <p class=""><%= @flat.address %></p>
    </div>
    <div class="flex justify-end items-center">
      <% if policy(@flat.invitations.new).new? %>
        <%= link_to new_flat_invitation_path(@flat), class:'reveal-btn reveal-btn-success w-max text-sm mr-2 mb-2', data: { turbo_frame: dom_id(@invitation) } do %>
          <i class="fa-solid fa-user-plus"></i>
          <span class="revealed-text">invite someone</span>
        <% end %>
      <% end %>
      <%= turbo_frame_tag @invitation %>

      <%= turbo_frame_tag "invitations" do %>
        <div class="flex flex-wrap items-center">
          <%= render @invitations %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
    <div class="flex flex-col justify-evenly items-center p-2 h-36 shadow-lg bg-white rounded-lg text-green-950 text-center">
      <h3 class="text-xl">Budget</h3>
      <div class="flex flex-col items-center">
        <p class="pb-2"><%= number_to_euros(@flat.budget_left) %></p>
        <span class="text-xs">estimated cost</span>
        <p class="text-xs"><%= number_to_euros(@flat.estimated_total_cost_for_all_rooms) %> / <%= number_to_euros(@flat.budget) %></p>
      </div>
    </div>
    <div class="flex flex-col justify-evenly items-center p-2 h-36 shadow-lg bg-white rounded-lg text-green-950 text-center">
      <h3 class="text-xl">Items</h3>
      <div class="flex flex-col items-center">
        <p class="text-base pb-2"><%= pluralize(@flat.items.count, 'item') %></p>
        <span class="text-xs">priciest item</span>
        <p class="text-sm"><%= @flat.priciest_item.name %> - <%= number_to_euros(@flat.priciest_item.price) %></p>
      </div>
    </div>
    <div class="flex flex-col justify-evenly items-center p-2 h-36 shadow-lg bg-white rounded-lg text-green-950 text-center">
      <h3 class="text-xl">Options</h3>
      <div class="flex flex-col items-center">
        <p class="text-base pb-2"><%= pluralize(@flat.options.count, 'option') %></p>
        <span class="text-xs">favorited <i class="fa-solid fa-heart text-red-500"></i></span>
        <p class="text-sm"><%= @flat.options.favorited.count %></p>
      </div>
    </div>
  </div>
</div>


<% if (@current_user_invitation && @current_user_invitation&.accepted?) || @flat.user == current_user %>
  <div class="bg-blue-50 text-emerald-950 my-2 p-4 rounded">
    <div class="block justify-between items-center mb-2">
      <h3 class="text-lg mb-2">Rooms</h3>
      <%= turbo_frame_tag @room do %>
        <%= render "rooms/form", room: @room %>
      <% end %>
    </div>

    <div class="flex flex-col">
      <%= turbo_frame_tag "rooms", class:'md:grid md:grid-cols-3 gap-3 mt-4 md:grid-flow-dense' do %>
        <%= render @rooms %>
      <% end %>
    </div>
  </div>
<% end %>

