<%= turbo_frame_tag option , class:'group' do %>
  <div class="flex flex-col justify-start items-center border relative mt-4 md:mt-0 h-72 rounded overflow-hidden">
    <%= cl_image_tag option.image.key, width: 320, height: 320, crop: :fill, class: 'w-full object-cover max-h-52' if option.image.attached? %>
    <div class='flex flex-col justify-center items-center px-3 pb-3'>
      <h3 class=""><span class="text-lg font-bold"><%= option.name %></span> - <%= option.price_with_currency %></h3>
      <p class="text-xs text-center line-clamp-2"><%= option.description %></p>
      <p class="text-xs text-center line-clamp-2"><%= option.size %></p>
    </div>
    <div class="flex md:overflow-hidden items-center transition duration-300 group-hover:w-max absolute top-1 right-1">
      <%= button_to item_option_path(@item, option),
                    method: :delete,
                    class: "opacity-100 md:opacity-0 transition duration-300 group-hover:opacity-100 p-0 group-hover:px-1 text-white bg-red-600 h-6 w-6 rounded-full text-xs flex justify-center items-center" do %>
                    <i class="fa-solid fa-trash"></i>
      <% end %>
      <%= link_to edit_item_option_path(@item, option),
                  class: "opacity-100 md:opacity-0 transition duration-300 group-hover:opacity-100 p-0 group-hover:px-1 text-white bg-blue-600 h-6 w-6 rounded-full text-xs flex justify-center items-center ml-1" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    </div>
  </div>
<% end %>
