<header class="bg-white shadow">
  <div class="container mx-auto px-5 py-3 flex items-center justify-between">
    <div class="flex items-center">

      <% if user_signed_in? %>
        <%= link_to 'Pick Me 👋', dashboard_path, class:'text-gray-800 text-xl font-bold' %>
      <% else %>
        <%= link_to 'Pick Me 👋', root_path, class:'text-gray-800 text-xl font-bold' %>
      <% end %>
    </div>

    <div class="flex items-center">
      <% if user_signed_in? %>
        <%= link_to 'dashboard', dashboard_path, class:"text-gray-800 text-sm md:text-lg underline" %>
        <%= link_to edit_user_registration_path,
                    class:"reveal-btn reveal-btn-primary" do %>
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, alt: 'alt text', width: 20, height: 20, class: "w-4 h-4 rounded-full" %>
          <% else %>
            <i class="fa-solid fa-user"></i>
          <% end %>
          <span class="revealed-text">profile</span>
        <% end %>
        <%= link_to destroy_user_session_path,
                    data: { turbo_method: :delete },
                    class:"reveal-btn reveal-btn-danger" do %>
          <i class="fa-solid fa-sign-out"></i>
          <span class="revealed-text">sign out</span>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
