<div class="flex justify-between items-center text-white mb-2">
  <h2 class="text-lg font-bold mr-2">Hello, <%= current_user.nickname %></h2>
  <%= link_to new_flat_path,
              class: "reveal-btn reveal-btn-primary",
              data: { turbo_frame: dom_id(@flat) } do %>
      <i class="fas fa-plus mr-1"></i>
      <i class="fa-solid fa-house"></i>
      <span class="revealed-text">add a house/flat</span>
    <% end %>
</div>

<%= turbo_frame_tag @flat %>

<%= turbo_frame_tag "flats" do %>

  <% if @flats.any? %>
    <%= render @flats %>
  <% else %>
    <div class="bg-white rounded p-4 mt-2">
      <p class="text-black">You don't have any flats yet. Create one!</p>
    </div>
  <% end %>

<% end %>
