<%= simple_form_for [@flat, room], data: {controller: "form-submit"}, html: { class:'md:flex items-center justify-between animate-fade_in' } do |f| %>
  <div class="md:flex items-center justify-start <%= 'bg-blue-100 p-2 rounded' if room.persisted? %>">
    <% if room.persisted? %>
      <%= f.input :name, label: false, wrapper_html: { class: 'mb-1 w-1-3'}, input_html: { class:'border-none box-shadow-none focus:shadow-none' } %>
      <%= f.input :kind,
                as: :radio_buttons,
                input_html: {class: 'peer hidden' },
                item_label_class: 'flex cursor-pointer select-none rounded-full px-1 text-center text-blue-500 bg-white border border-blue-500 w-max h-max hover:bg-blue-500 hover:text-white transition-all peer-checked:bg-blue-500 peer-checked:text-white text-xs mr-1 ml-0 md:mr-0 md:ml-1 mb-1 reveal-btn reveal-btn-primary',
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'flex justify-start items-center flex-wrap mx-auto mb-2 md:mb-0',
                label: "",
                collection: Room.kinds.keys.reverse.map{|k| [button_icon_for_kind(k).html_safe, k]} %>
    <% else %>
      <%= f.input :kind,
                  as: :radio_buttons,
                  checked: :false,
                  input_html: {class: 'peer hidden', data: { action: "click->form-submit#submit"} },
                  item_label_class: 'flex cursor-pointer select-none rounded-full px-2 text-center text-blue-500 border border-blue-500 w-max h-max hover:bg-blue-500 hover:text-white transition-all peer-checked:bg-blue-500 peer-checked:text-white text-xs mr-2 ml-0 md:mr-0 md:ml-2 mb-1 reveal-btn reveal-btn-primary',
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'flex justify-start md:justify-end items-center flex-wrap mx-auto mb-2 mr-2 md:mb-0',
                  label: "",
                  collection: Room.kinds.keys.reverse.map{|k| [button_icon_for_kind(k).html_safe, k]} %>
    <% end %>
    <div class="flex w-full md:w-fit items-center <%= 'hidden' unless room.persisted?%>">
      <%= button_tag type: "submit", class: "text-white bg-emerald-500 py-1 px-4 rounded grow md:grow-0 flex items-center justify-center" do %>
        <i class="fa-solid fa-floppy-disk mr-1"></i>
        save
      <% end %>

      <% if room.persisted? %>
        <%= link_to flat_room_path(@flat, room), class: "text-white bg-red-500 py-1 px-4 rounded ml-2" do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
