<%= simple_form_for [@room, @item], html: { class:'md:flex items-center justify-between border-solid bg-blue-100 rounded p-4 animate-fade_in' } do |f| %>
  <% if @item.errors.any? %>
    <div class="error-message">
      <%= @item.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <div class="md:flex w-full items-center">
    <%= f.input :name, label: false, placeholder: "couch, table etc...", wrapper_html: { class: 'mb-2 md:mb-0'}, input_html: { class:'border-none rounded-xl box-shadow-none focus:shadow-none placeholder:text-slate-400' }  %>
    <%= f.input :importance, as: :radio_buttons,
            input_html: {class: 'peer hidden'},
            item_label_class: 'block cursor-pointer select-none rounded-xl px-2 text-center peer-checked:bg-yellow-500 peer-checked:text-white text-xs',
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'flex w-full md:w-fit justify-around items-center mx-auto bg-white rounded-xl p-2 mb-2 md:mb-0 shadow-md',
            legend_tag: false,
            collection: Item.importances.keys %>
  </div>
  <div class="flex w-full md:w-fit items-center">
    <%= button_tag type: "submit", class: 'text-white bg-emerald-500 py-1 px-4 rounded grow md:grow-0 flex items-center justify-center' do %>
      <i class="fa-solid fa-plus mr-1 md:mr-2"></i>
      <%= @item.persisted? ? "save" : "add" %>
    <% end %>
    <%= link_to flat_room_path(@room.flat, @room), class: "text-white bg-red-500 py-1 px-4 rounded ml-2" do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
<% end %>
