<%= turbo_frame_tag item , class:'group' do %>
  <div class="flex justify-between items-center border-b border-solid">
    <%= link_to flat_item_path(@flat, item), class:'flex justify-between items-center w-full p-1 hover:bg-sky-100 transition duration-300 rounded', data: {turbo_frame: '_top'} do %>
      <div class='flex group-hover:underline'>
        <%= item.name %>
      </div>
      <div class="text-xs divide-x divide-slate-700">
        <% if item.options.any? %>
          <% item.options.last(3).each_with_index do |option, index| %>
            <span class="px-1"><%= option.name %> - <%= option.price %>€ <%= "..." if index == 2 %></span>
          <% end %>
        <% else %>
          <p class="px-1">No options yet, add options <span class="underline">here</span></p>
        <% end %>
      </div>
      <span class="bg-<%= color_for_importance(item.importance)%>-500 text-white px-4 rounded-xl"><%= item.importance %></span>
    <% end %>


    <div class="flex w-max">
      <%= button_to flat_item_path(@flat, item),
                    method: :delete,
                    class: "px-1 text-red-500" do %>
                    <i class="fa-solid fa-trash"></i>
      <% end %>
      <%= link_to edit_flat_item_path(@flat, item),
                  class: "px-1 text-sky-500" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    </div>
  </div>
<% end %>
