<%= link_to flat_room_path(@room.flat, @room), class:'text-xs underline text-white mb-2' do %>
  <i class="fa-solid fa-arrow-left"></i>
  back to your room
<% end %>
<div class="bg-white text-emerald-950 my-2 p-4 rounded">
  <div class="flex justify-between items-center mb-2">
    <h2 class="text-xl">All options for <span class="underline offset-2"><%= @item.name %></span> </h2>
    <%= link_to new_item_option_path(@item, @option),
                class: "text-blue-500 hover:bg-blue-700 hover:text-blue-100 border flex items-center border-blue-500 bg-blue-100 py-1 px-2 rounded text-sm group",
                data: { turbo_frame: dom_id(@option) } do %>
      <i class="fa-solid fa-plus"></i>
      <span class="w-0 h-0 opacity-0 flex overflow-hidden group-hover:ml-2 group-hover:w-max group-hover:h-max group-hover:opacity-100 transition-all duration-300">add an option</span>
    <% end %>
  </div>
  <p class="text-sm text-slate-500">Here you can see all the options you have for <%= @item.name %>. Add has many options as you want.</p>
  <p class="text-sm text-slate-500">You can vote for the options you prefer. The most voted option will be added to your general list !</p>
  <div class="flex flex-col">
    <%= turbo_frame_tag @option, class: 'md:max-w-sm md:mx-auto' %>
    <%= turbo_frame_tag "options", class:'md:grid md:grid-cols-3 gap-3 mt-4 md:grid-flow-dense' do %>
      <%= render @options %>
    <% end %>
  </div>
</div>
