<%= turbo_frame_tag "main-content" do %>
  <div class="bg-white text-emerald-950 my-2 p-4 rounded">
    <%= link_to flat_room_path(@room.flat, @room), class:'text-xs underline text-slate-500' do %>
      <i class="fa-solid fa-arrow-left"></i>
      back to <%= @room.name.downcase %>'s items
    <% end %>
    <div class="flex justify-between items-center my-2">
      <h2 class="text-xl">Options for <%= @item.name %></h2>
      <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" data-frame="<%= @option %>" class="text-blue-500 hover:bg-blue-700 hover:text-blue-100 border flex items-center border-blue-500 bg-blue-100 py-1 px-2 rounded text-sm group">
        <i class="fa-solid fa-plus"></i>
        <span class="w-0 h-0 opacity-0 flex overflow-hidden group-hover:ml-2 group-hover:w-max group-hover:h-max group-hover:opacity-100 transition-all duration-300">add an option</span>
      </button>
    </div>
    <p class="text-sm text-slate-500">Here you can see all the options you have for <%= @item.name %>. Add has many options as you want.</p>
    <p class="text-sm text-slate-500">You can vote for the options you prefer. The most voted option will be added to your general list !</p>
    <div class="flex flex-col">
      <%= turbo_frame_tag "options", class:'md:grid md:grid-cols-3 gap-3 mt-4 md:grid-flow-dense' do %>
        <%= render @options %>
      <% end %>
    </div>
  </div>
  <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full bg-slate-500/[.06] backdrop-blur-sm">
    <div class="relative w-full max-w-md max-h-full">
      <div class="relative bg-transparent rounded-lg dark:bg-gray-700">
        <div class="text-center">
          <%= turbo_frame_tag @option, class: 'md:max-w-sm md:mx-auto' do %>
            <%= render 'options/form', option: @option %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
